footer {
  margin-top: 40px;
  padding: 20px;
  background: #eee;
}

footer a {
  color: #959595;
  font-size: 14px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

footer li {
  display: inline-block;
  padding: 4px 12px;
}
